.metacampaign-select{
  width : 100%;
  margin-bottom : 20px;
}

:host >>> .mat-input-container{
  width:100%;
}

.center{
  text-align:center;
}

.align-right{
  text-align:right;
  padding-right:0;
}

.groupConversionsBy-button{
  margin-right:10px;
}

.errorChip{
  margin : 10px;
}

.report_warnings{
  color : orange;
  font-size : 28px;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.2;}
}

.absolute_warnings{
  color : red;
  font-size : 22px;
  font-weight : bold;
  text-decoration: blink;
-webkit-animation-name: blinker;
-webkit-animation-duration: 0.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-direction: alternate;
}

.report_local_id{
  font-weight : bold;
  font-size : 26px;
  text-align : center;
}
