.loadingDiv{
  width:100%;
  text-align:center;
  //background: rgba(0, 0, 0, 0.3);
}

.loadingDiv img{
  margin:auto;
}

.optionsMenu, .container{
  background-color : #ffffff;
}

.align-right{
  text-align:right;
}

.optionsMenu{
  max-width:900px;
}
