<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
        <span class="md-title">Data Table</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
    </td-search-box>
    <md-slide-toggle
        [checked]="displayIdsInDatatable"
        [disabled]="false"
        (change)="toggleIdColumns()"
        >
        Show Ids
    </md-slide-toggle>
</div>
<md-divider></md-divider>
<td-chips [items]="availableGroupByFields"
[(ngModel)]="aggregateCriterias"
placeholder="Enter new group by criteria"
(add)="changeGroupByCriteria()"
(remove)="changeGroupByCriteria()"
requireMatch></td-chips>
<div class="loadingDiv" *ngIf="filteredData.length==0">
    <img src="assets/loading.gif" />
</div>
<div *ngIf="filteredData.length>0">
    <td-data-table
        #dataTable
        [data]="filteredByDataTableData"
        [columns]="columns"
        [sortable]="true"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)"
        >
        <ng-template
            tdDataTableTemplate="type"
            let-value="value"
            let-row="row"
            let-column="column">
            <div layout="row">
                <span flex>{{value}}</span> // or <span flex>{{row[column]}}</span>
                <md-icon>star</md-icon>
            </div>
        </ng-template>
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>No results to display yet.</h3>
    </div>
</div>
<button md-raised-button [color]="'primary'" (click)="generateCSV()">Generate CSV</button>
<button md-icon-button (click)="csv_displayOptions = !csv_displayOptions"><md-icon>settings</md-icon></button>
<td-paging-bar #pagingBar [pageSizes]="pageSizes" [total]="filteredTotal" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>

<div class="optionsMenu" *ngIf="csv_displayOptions">
    <div class="container" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">Field separator :</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">semicolon (;)</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><md-slide-toggle [color]="'primary'" [(ngModel)]="csv_isComma">
            comma (,)
          </md-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Quotes :</div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-right">double quotes ("")</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><md-slide-toggle [color]="'primary'" [(ngModel)]="csv_isSimpleQuotes">
          simple quotes ('')
        </md-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Decimals :</div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-right">dot (.)</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><md-slide-toggle [color]="'primary'" [(ngModel)]="csv_isDecimalComma">
          comma (,)
        </md-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Data :</div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-right">All</div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">    <md-slide-toggle [color]="'primary'" [(ngModel)]="csv_pagedData">
              This page only
            </md-slide-toggle>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
</div>
