<div>
    <div flex-gt-xs="100">
        <md-card>
            <md-card-title>{{viewTitle}}</md-card-title>
        </md-card>
        <md-card>
            <app-dataviz-chart
                [filteredData]="filteredData"
                [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
                [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
                [activeStaticMetricsColumns]="activeStaticMetricsColumns"
                [additiveMetricsList]="additiveMetricsList"
                [filtersDimensionMapping]="filtersDimensionMapping"
                [config]="config"
                [aggregateCriteria] = "'kpi_id'"
                [chartType]="'histogram'"
                [chartTitle]="'Histogram'"
            ></app-dataviz-chart>
        </md-card>
    </div>
    <div flex-gt-xs="100">
        <md-card>
            <app-dataviz-datatable
              [filteredData]="filteredData"
              [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
              [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
              [activeStaticMetricsColumns]="activeStaticMetricsColumns"
              [additiveMetricsList]="additiveMetricsList"
              [filtersDimensionMapping]="filtersDimensionMapping"
              [config]="config"
              [availableGroupByFields]="['conversion_date','advertiser_id','partner_id','kpi_id','metacampaign_id']"
              [sortBy]="'kpi_name'"
              [pageSizes]="[10, 50, 100, 150, 200]"
              [pageSize]="10"
              [displayIdsInDatatable]="false"
              [aggregateCriterias] = "['kpi_id', 'metacampaign_id']"
            ></app-dataviz-datatable>
        </md-card>
    </div>
</div>
