td-expansion-panel h3{
  padding-left:15px;
  padding-right:15px;
  padding-right:5px;
}

td-expansion-panel section{
  padding : 15px;
}

.attrib-model-select{
  width : 100%;
}

.attrib-model-form{
  padding : 15px;
}

.inline-title{
  display:inline-block;
}

:host >>> .mat-input-container{
  width:100%;
}
