<md-card>
  <!--<td-expansion-panel #expansionRequestParams label="label" sublabel="sublabel">
    <ng-template td-expansion-panel-header>
        <md-card-title>
          <md-icon *ngIf="expansionRequestParams.expand">expand_more</md-icon>
          <md-icon *ngIf="!expansionRequestParams.expand">chevron_right</md-icon>
          Data request parameters
        </md-card-title>
    </ng-template>
    <td-expansion-summary>
        <section>
          Displaying data from {{ dateRange.startDate | date:'M/dd/y' }} to {{ dateRange.endDate | date:'M/dd/y' }}, for models
          <span *ngFor="let modelObject of attributionModelsMapping">
            <span *ngIf="selectedAttributionModel_s && selectedAttributionModel_s.length>0 && selectedAttributionModel_s.indexOf( modelObject.id )!=-1">
              {{ modelObject.name }},
            </span>
          </span>
        </section>
    </td-expansion-summary>-->
    <md-card-title>
      Data request parameters
    </md-card-title>

    <md-card-content class="row">

        <div class="col-md-6 col-xs-12" *ngIf="!isAttributionModelMultiple">
            <h4>Attribution model</h4>
            <md-select class="attrib-model-select" placeholder="" #modelChoice (change)="changeModel($event.value)" name="attributionModel" [(ngModel)]="selectedAttributionModel_s" >
                         <ng-template ngFor let-modelObject [ngForOf]="attributionModelsMapping">
                           <md-option
                              *ngIf="modelObject.is_active" [value]="modelObject.id"
                              [attr.selected]="selectedAttributionModel_s==modelObject.id">
                           >
                                {{ modelObject.name }} - {{ modelObject.id }}
                           </md-option>
                        </ng-template>
            </md-select>
        </div>

        <div class="col-md-6 col-xs-12 attrib-model-form" *ngIf="isAttributionModelMultiple">
            <h4 class="inline-title">Attribution models</h4>
            <md-chip *ngIf="lessThan2Selectedmodels"
                [selected]="true"
                color="warn">
                Please choose at least 2 models
            </md-chip>
            <!--<md-list>
              <ng-template ngFor let-modelObject [ngForOf]="attributionModelsMapping">
                <md-list-item *ngIf="modelObject.is_active">
                    <md-checkbox [checked]="selectedAttributionModel_s && selectedAttributionModel_s.length>0 && selectedAttributionModel_s.indexOf( modelObject.id )!=-1"
                      (change)="changeModelsMultiple($event,modelObject.id)">
                       {{ modelObject.name }} - {{ modelObject.id }}
                    </md-checkbox>
                </md-list-item>
              </ng-template>
            </md-list>-->
            <!-- TOCHECK : ngIf seems to aovid bug of empty list; see what happens if list is modified or staistically (tested 30 times in a row without bug)-->
            <td-chips *ngIf="attributionModelsChipList.length > 0" [items]="attributionModelsChipList" (add)="updateActiveModelsOnChipsChange($event)" (remove)="updateActiveModelsOnChipsChange($event)" [(ngModel)]="activeAttributionModelsChipList" placeholder="Enter attribution model name"></td-chips>
        </div>

        <div class="col-md-6 col-xs-12">
          <h4>Date</h4>
            <div class="input-group" daterangepicker [options]="options" (selected)="selectedDate($event)" >
                <span class="form-control uneditable-input"  name="daterange" >
                    {{ dateRange.startDate | date:'M/dd/y' }} - {{ dateRange.endDate | date:'M/dd/y' }}
                </span>
                <span class="input-group-btn">
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
                </span>
            </div>
        </div>
    </md-card-content>

<!--</td-expansion-panel>-->
<md-card>
