<!--<md-sidenav-container>-->
  <!--  <button *ngIf="!sidenav.opened" md-button id="sideNav_menu" (click)="sidenav.open()">
    </button>
    <md-sidenav #sidenav opened="openedNav" mode="side">
        <div class="menuClose">
            <button md-button (click)="sidenav.close()">X</button>
        </div>
        <md-nav-list td-sidenav-content>
            <div *ngFor="let navElem of viewsList">
                <a [ngClass]="{'active': activeView==navElem.name}" md-list-item (click)="activeView=navElem.name">
                    <md-icon md-list-avatar>{{navElem.icon}}</md-icon>
                    <h3 md-line>{{navElem.menuText}}</h3>
                    <p md-line>{{navElem.description}}</p>
                </a>
                <md-divider md-inset></md-divider>
            </div>
        </md-nav-list>
    </md-sidenav>-->

    <div flex-gt-xs="100">
        <app-form-data-request
          [isAttributionModelMultiple]="isAttributionModelMultiple"
          [defaultSelectedAttributionModel_s]="[2,5]"
          [attributionModelsMapping] = "attributionModelsMapping"
          ></app-form-data-request>
        <app-form-data-filters
          [dimensionFilters]="filtersDimensions"
          [dimensionfiltersMapping]="filtersDimensionMapping"
          (filtersUpdated)="filtersUpdated($event)"></app-form-data-filters>
    </div>
<!--<router-outlet></router-outlet>-->
    <app-overview *ngIf="navService.activeViews.multiattribution=='overview'"
      [filteredData]="filteredData"
      [requestParams]="requestParams"
      [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
      [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
      [activeStaticMetricsColumns]="metricsColumns"
      [additiveMetricsList]="additiveMetricsList"
      [filtersDimensionMapping]="filtersDimensionMapping"
      [config]="config"
      [isAttributionModelMultiple]="isAttributionModelMultiple"
    ></app-overview>

    <app-bykpiview *ngIf="navService.activeViews.multiattribution=='bykpiview'"
        [filteredData]="filteredData"
        [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
        [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
        [activeStaticMetricsColumns]="metricsColumns"
        [additiveMetricsList]="additiveMetricsList"
        [filtersDimensionMapping]="filtersDimensionMapping"
        [config]="config"
        [isAttributionModelMultiple]="isAttributionModelMultiple"
    ></app-bykpiview>

<!--</md-sidenav-container>-->
