  <md-card>

      <td-expansion-panel>
        <ng-template td-expansion-panel-header>
          <md-card-title *ngIf="isNoFilterCheckedAll()">
            Open to add filters
          </md-card-title>
          <md-card-title *ngIf="!isNoFilterCheckedAll()">
            Filtered by
            <span *ngFor="let filterType of dimensionfiltersMapping | keys">
              <span *ngIf="isNoFilterChecked(filterType)">
                {{activeFiltersChips[filterType].length}} {{dimensionNameFromIdColLabel(filterType)}}(s),
                <!--<span *ngFor="let activeFilter of activeFiltersChips[filterType]">
                  {{activeFilter}}
                </span>-->
              </span>
            </span>
          </md-card-title>


        </ng-template>
        <md-card-content>
            <div class="row" *ngFor="let filterType of dimensionfiltersMapping | keys">
              <td-chips
                [items]="filtersChips[filterType]"
                [(ngModel)]="activeFiltersChips[filterType]"
                (add)="addFilterChip($event,filterType)"
                (remove)="removeFilterChip($event,filterType)"
                placeholder="Enter {{dimensionNameFromIdColLabel(filterType)}} name to add to filters">
              </td-chips>
            </div>
        </md-card-content>
      </td-expansion-panel>


  </md-card>
<!--<md-card>
    <md-tab-group>
      <div *ngFor="let filterType of dimensionfiltersMapping | keys">
        <md-tab>
          <ng-template md-tab-label>
            Filters for {{filterType}}
          </ng-template>
          <td-expansion-panel>
            <ng-template td-expansion-panel-header>
              <section>
                <div *ngIf="isNoFilterChecked(filterType)">
                  Filtered by {{filterType}}, selected :
                  <span *ngFor="let filterElemId of dimensionfiltersMapping[filterType] | keys">
                    <md-chip selected="false" *ngIf="isChecked(filterElemId,filterType)">
                         {{dimensionfiltersMapping[filterType][filterElemId]}} - {{filterElemId}}
                         <md-icon class="remove_chip" (click)="updateFilters(false,filterElemId,filterType)">cancel</md-icon>
                    </md-chip>
                  </span>
                   - Click for more
                </div>
              -->

                <!--No checked-->
              <!--  <div *ngIf="!isNoFilterChecked(filterType)">
                  No {{filterType}} selected, unfiltered for {{filterType}} - Click for more
                </div>
                Filters for {{filterType}}
                <td-chips [items]="filtersChips[filterType]" [(ngModel)]="activeFiltersChips[filterType]"  (add)="addFilterChip($event,filterType)" (remove)="removeFilterChip($event,filterType)" placeholder="Enter any string"></td-chips>
              </section>

            </ng-template>

            <div class="filter_box">
              <ul>
                  <li *ngFor="let filterElemId of dimensionfiltersMapping[filterType] | keys">

                    <md-chip class="filter_choice" *ngIf="isChecked(filterElemId,filterType)"
                        selected="true"
                        color="primary"
                        (click)="updateFilters(false,filterElemId,filterType)">
                      {{dimensionfiltersMapping[filterType][filterElemId]}} ({{filterElemId}})
                    </md-chip>
                    <md-chip class="filter_choice" *ngIf="!isChecked(filterElemId,filterType)"
                        selected="false"
                        color=""
                        (click)="updateFilters(true,filterElemId,filterType)">
                      {{dimensionfiltersMapping[filterType][filterElemId]}} ({{filterElemId}})
                    </md-chip>

                  </li>
              </ul>
             <md-chip
                  selected="true"
                  color="primary"
                  (click)="filterType">
                Check all
              </md-chip>
            </div>

          </td-expansion-panel>
        </md-tab>
  </div>
</md-tab-group>
</md-card>-->
