<md-card>
    <div flex-gt-xs="100">
            <md-card-title>OverView</md-card-title>
    </div>
    <div flex-gt-xs="100">
        <md-card>
            <app-dataviz-chart
                [filteredData]="filteredData"
                [requestParams] = "requestParams"
                [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
                [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
                [activeStaticMetricsColumns]="activeStaticMetricsColumns"
                [activeCalculatedMetrics]="activeCalculatedMetrics"
                [additiveMetricsList]="additiveMetricsList"
                [filtersDimensionMapping]="filtersDimensionMapping"
                [config]="config"
                [aggregateCriteria] = "'conversion_date'"
                [chartType]="'timeserie'"
                [chartTitle]="'Daily conversions per attribution model'"
            ></app-dataviz-chart>
        </md-card>
    </div>
    <div flex-gt-xs="100">
        <md-card>
            <app-dataviz-datatable
              [filteredData]="filteredData"
              [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
              [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
              [activeStaticMetricsColumns]="activeStaticMetricsColumns"
              [activeCalculatedMetrics]="activeCalculatedMetrics"
              [additiveMetricsList]="additiveMetricsList"
              [filtersDimensionMapping]="filtersDimensionMapping"
              [config]="config"
              [availableGroupByFields]="['conversion_date','advertiser_id','partner_id','kpi_id','metacampaign_id']"
              [pageSizes]="[25, 50, 100, 150, 200]"
              [pageSize]="25"
              [displayIdsInDatatable]="false"
              [aggregateCriterias] = "['metacampaign_id', 'kpi_id']"
            ></app-dataviz-datatable>
        </md-card>
    </div>
</md-card>
