<td-layout-nav class="teradata-top-menu" toolbarTitle="">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex=5>
      <md-icon *ngIf="!navService.opened" (click)="navService.toggleSidebar()">menu</md-icon>
      <md-icon *ngIf="navService.opened"  (click)="navService.toggleSidebar()">close</md-icon>
    </span>
    <span flex=90 style="text-align:center;">
      <img height=50 src="assets/mec_logo.png" />
      <img height=50 src="assets/blizzard.svg" />
    </span>

<!----------------------Menu des notifications à réactiver quand actif------------------------>
    <span flex=5>
      <!--<button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
        <td-notification-count color="accent" [notifications]="updates.length + 1">
          <md-icon>notifications</md-icon>
        </td-notification-count>
      </button>-->
    </span>
  <!--  <md-menu #notificationsMenu="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Updates</div>
        <md-nav-list dense>
          <ng-template let-item let-last="last" ngFor [ngForOf]="updates">
            <a md-list-item [routerLink]="[item.route]">
              <md-icon md-list-avatar>{{item.icon}}</md-icon>
              <h4 md-line><span class="text-wrap">{{item.description}}</span></h4>
              <p md-line>{{item.title}}</p>
            </a>
            <md-divider></md-divider>
          </ng-template>
        </md-nav-list>
      </td-menu>
    </md-menu>-->
  </div>
  <router-outlet></router-outlet>

  <td-layout-footer>
    <div layout="row" layout-align="end center">
      <span class="md-caption">Copyright &copy; 2017 Mec Global. All rights reserved</span>
    </div>
  </td-layout-footer>
</td-layout-nav>
