<!--<md-sidenav-container>-->
  <!--  <button *ngIf="!sidenav.opened" md-button id="sideNav_menu" (click)="sidenav.toggle()">
    </button>
    <md-sidenav #sidenav opened="openedNav" mode="side">
        <div class="menuClose">
            <button md-button (click)="sidenav.toggle()">X</button>
        </div>
        <md-nav-list td-sidenav-content>
            <div *ngFor="let navElem of viewsList">
                <a [ngClass]="{'active': activeView==navElem.name}" md-list-item (click)="activeView=navElem.name">
                    <md-icon md-list-avatar>{{navElem.icon}}</md-icon>
                    <h3 md-line>{{navElem.menuText}}</h3>
                    <p md-line>{{navElem.description}}</p>
                </a>
                <md-divider md-inset></md-divider>
            </div>
        </md-nav-list>
    </md-sidenav>-->

  <!--  <md-card>-->
        <div flex-gt-xs="100">
            <!--<md-card>-->
            <app-form-data-request
              [isAttributionModelMultiple]="isAttributionModelMultiple"
              [defaultSelectedAttributionModel_s]="5"
              [attributionModelsMapping] = "attributionModelsMapping"
              ></app-form-data-request>
            <app-form-data-filters
              [dimensionFilters]="filtersDimensions"
              [dimensionfiltersMapping]="filtersDimensionMapping"
              [dimensionsConfig]="dimensionsConfigElem"
              (filtersUpdated)="filtersUpdated($event)"
            ></app-form-data-filters>
            <!--</md-card>-->
        </div>

        <app-overview *ngIf="navService.activeViews.frauddetector=='overview'"
          [filteredData]="filteredData"
          [requestParams]="requestParams"
          [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
          [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
          [activeStaticMetricsColumns]="metricsColumns"
          [additiveMetricsList]="additiveMetricsList"
          [filtersDimensionMapping]="filtersDimensionMapping"
          [config]="config"
          [isAttributionModelMultiple]="isAttributionModelMultiple"
        ></app-overview>

        <app-bykpiview *ngIf="navService.activeViews.frauddetector=='bykpiview'"
            [filteredData]="filteredData"
            [requestParams]="requestParams"
            [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
            [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
            [activeStaticMetricsColumns]="metricsColumns"
            [additiveMetricsList]="additiveMetricsList"
            [filtersDimensionMapping]="filtersDimensionMapping"
            [config]="config"
            [isAttributionModelMultiple]="isAttributionModelMultiple"
        ></app-bykpiview>

        <app-bypartnerview *ngIf="navService.activeViews.frauddetector=='bypartnerview'"
            [filteredData]="filteredData"
            [requestParams]="requestParams"
            [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
            [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
            [activeStaticMetricsColumns]="metricsColumns"
            [additiveMetricsList]="additiveMetricsList"
            [filtersDimensionMapping]="filtersDimensionMapping"
            [config]="config"
            [isAttributionModelMultiple]="isAttributionModelMultiple"
        ></app-bypartnerview>

  <!--  </md-card>-->
<!--</md-sidenav-container>-->
