<p>
  overview works!
</p>
<app-form-data-request></app-form-data-request>
<app-form-data-filters></app-form-data-filters>
<app-dataviz-chart></app-dataviz-chart>
<app-dataviz-datatable
  [filteredData]="filteredData"
  [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
  [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
  [activeStaticMetricsColumns]="activeStaticMetricsColumns"
  [sortBy]="conversion_date"
  [pageSizes]="[10, 50, 100, 150, 200]"
  [pageSize]="10"
  [displayIdsInDatatable]="false"
></app-dataviz-datatable>
<app-dataviz-map></app-dataviz-map>
