<p>
  overview works!
</p>
<app-form-data-request></app-form-data-request>
<app-form-data-filters></app-form-data-filters>
<app-dataviz-chart></app-dataviz-chart>
<app-dataviz-datatable
  [filteredData]="filteredData"
  [activeDimensionsWithIdColumns]="activeDimensionsWithIdColumns"
  [activeDimensionsWithoutIdColumns]="activeDimensionsWithoutIdColumns"
  [activeStaticMetricsColumns]="activeStaticMetricsColumns"
  [additiveMetricsList]="additiveMetricsList"
  [filtersDimensionMapping]="filtersDimensionMapping"
  [config]="config"
  [availableGroupByFields]="['conversion_date','advertiser_id','partner_id','kpi_id']"
  [sortBy]="conversion_date"
  [pageSizes]="[10, 50, 100, 150, 200]"
  [pageSize]="10"
  [displayIdsInDatatable]="false"
  [aggregateCriterias] = "['conversion_date', 'advertiser_id']"
></app-dataviz-datatable>
<app-dataviz-map></app-dataviz-map>
